[submodule "src/org"]
	path = src/org
	url = http://orgmode.org/org-mode.git
[submodule "snippets/text-mode/org-mode"]
	path = snippets/text-mode/org-mode
	url = http://github.com/eschulte/yasnippet-org-mode.git
[submodule "src/zenburn-emacs"]
	path = src/zenburn-emacs
	url = http://github.com/bbatsov/zenburn-emacs.git
